.home {
    padding: 5x;
    background-color: darkseagreen;
    /* flex-wrap: wrap; */
    height: 100%;
    align-self: center;
    min-height: 100%;
    overflow-y: auto;
    align-items: center;
    
    justify-content: center;
}
    
    

.feelings {
    padding: 10px;
   
    /* flex-wrap: wrap; */
    align-self: flex-start;
    display: inline-flex;
    align-items: stretch;
    height: 0%;
    margin-bottom: auto;
}
